html, body {
  height: 100%;
}

body {
  background-color: $black;
  color: $white;
}

#content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$footer_height);
}

#push,
#footer {
  height: $footer_height;
}

#links {
  display: block;
  position: absolute;
  bottom: 0;
  width: 99%;
  margin: 0;
  padding: $container_pad;
  background-color: $black;
  border-top: $container_pad/2 solid $darkgray;
  color: $white;
  height: $footer_height;
  overflow: hidden;
}

@media (max-width: 767px) {
  #footer {
    margin-left: (-$footer_pad);
    margin-right: (-$footer_pad);
    padding-left: $footer_pad;
    padding-right: $footer_pad;
  }
}

// special things

#titlegif {
  max-width: 80%;
  width: 80%;
  height: auto;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.e {
  position: relative;
  height: 100%;
  width: 100%;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
  }
}
