// Colors
$black: #000000;
$white: #ffffff;
$lightgray: #ccc;
$darkgray: #3a3a3a;

// Measures
$container_pad: 3px;
$footer_pad: 10px;
$footer_height: 20px;

@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

